* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 1em 0px;
}

th, td {
    border: 1px solid #000000;
    padding: 0.5em 0.5em;
}

th {
    text-align: left;
}

button {
    padding: 0.5em 0.75em;
    margin: 0px;
    font-weight: bold;
    border: 1px solid rgb(142, 142, 142);
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    margin: 0 0.5em;
    cursor: pointer;
}

button:active {
    background-color: rgb(142, 142, 142);
}

td button {
    border: none;
    background: none;
    cursor: pointer;
}

button.remove {
    color: #FF0000;
}

#suggest-service {
    font-family: 'Courier New', Courier, monospace;
    width: 30em;
}
