.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: sans-serif;
    margin: 1em;
}

h1, h2, h3, h4, h5 {
    margin: 0.5em 0px;
}

#csp-evaluation {
    margin-top: 1em;
}

.directive-values {
    font-size: 8pt;
    margin-left: 4em;
}

.directive-values code {
    white-space: nowrap;
}

td.comments {
    padding-left: 1em;
}

button {
    padding: 0.5em 0.75em;
    margin: 0px;
    font-weight: bold;
    border: 1px solid #666666;
    border-radius: 8px;
    margin: 0 0.5em;
    cursor: pointer;
}

.indicator {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

.directive .indicator::after {
    /* If no severity is specified, mark it green */
    font: var(--fa-font-solid);
    content: '\f058';
    color: #00cb00;
}

.severity-10 .indicator::after {
    /* HIGH */
    font: var(--fa-font-solid);
    content: '\f06a';
    color: #e32400;
}

.severity-20 .indicator::after {
    /* SYNTAX */
    font: var(--fa-font-solid);
    content: '\f00d';
    color: #5e30eb;
}

.severity-30 .indicator::after {
    /* MEDIUM */
    font: var(--fa-font-solid);
    content: '\f06a';
    color: #ff8647;
}

.severity-40 .indicator::after {
    /* HIGH_MAYBE */
    font: var(--fa-font-solid);
    content: '\f071';
    color: #ff8647;
}

.severity-45 .indicator::after {
    /* STRICT_CSP */
    font: var(--fa-font-solid);
    content: '\f070';
    color: #999999;
}

.severity-50 .indicator::after {
    /* MEDIUM_MAYBE */
    font: var(--fa-font-solid);
    content: '\f071';
    color: #FFD43B;
}

.severity-60 .indicator::after {
    /* INFO */
    font: var(--fa-font-solid);
    content: '\f05a';
    color: #0061ff;
}

.severity-100 .indicator::after {
    /* NONE */
    font: var(--fa-font-solid);
    content: '\f058';
    color: #00cb00;
}

.directive-list {
    border: 1px solid #000000;
}

.directive-list .empty {
    margin: 2em;
}

.directive {
    margin: 0;
    padding: 0;
}

.directive-name {
    font-size: 12pt;
    font-family: monospace;
    border-bottom: 1px solid #888888;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: #EEEEEE;
}

.directive-values {
    margin-top: 0.5em;
}

.directive-values table {
    border-collapse: separate; 
    border-spacing: 0.5em;
}

.directive .directive-values {
    display: none;
}

.directive.expanded .directive-values {
    display: block;
}


.directive-toggle {
    display: inline-block;
    width: 1.5em;
    margin-right: 0.5em;
    cursor: pointer;
    border: none;
}

.directive .directive-toggle::after {
    font: var(--fa-font-solid);
    content: '\f0da';
}

.directive.expanded .directive-toggle::after {
    font: var(--fa-font-solid);
    content: '\f0d7';
}

segmented-control {
    display: inline-block;
}

.tab-content {
    position: relative;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

input[name=suggest_server] {
    width: 100%;
}

textarea {
    width: 98%;
    height: 10em;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em;
    background-color: #EEEEEE;
    border-radius: 4px;
}

#message-box {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 8px;
}

#message-box.warning {
    background-color: rgb(255, 243, 205);
    border: 1px solid rgb(255, 230, 156);
    color: rgb(102, 77, 3);
}

#message-box.error {
    background-color: rgb(248, 215, 218);
    border: 1px solid rgb(241, 174, 181);
    color: rgb(88, 21, 28);
}


#message-box.active {
    display: flex;
}